{{> head
  title= movienamecn
  keywords=""
  description=""
  style="/Video_details/film_details.css"
 }}

<div class="head">
  <div class="film_mask" style="background: url({{CDN}}/Video_details/images/off_Btn.png) no-repeat;
  background-size: 100% 100%;"></div>
  {{#Video_details}}
  <img src="{{movieimage}}">
  {{/Video_details}}
</div>
<div class="Details_body">
  <div class="list_Details1">
    <ul class="list_Details1_list">
      {{#Video_details}}
      <li>
        <p class="left_p1">导演：</p>
        <p class="right_p1">{{director}}</p>
      </li>
      <li>
        <p class="left_p1">主演：</p>
        <p class="right_p1">{{actors}} </p>
      </li>
      <li>
        <p class="left_p1">时长：</p>
        <p class="right_p1">{{entgroupscore}}</p>
      </li>
      <li>
        <p class="left_p1">类型：</p>
        <p class="right_p1">{{movietypes}}</p>
      </li>
      <li>
        <p class="left_p1">地区：</p>
        <p class="right_p1">中国大陆</p>
      </li>
      <li>
        <p class="left_p1">上映：</p>
        <p class="right_p1">2016-07-08</p>
      </li>
      {{/Video_details}}
    </ul>
  </div>
  <div class="list_Details1">
    <div class="list_Details1_h3">
      <span class="span1">简介：</span>
       {{#Video_details}}
      <span class="span2"></span>
      <input id="hide_input" type="hidden" value="{{movieintro}}"/>
      <span class="span2_1"></span>

      {{/Video_details}}
      <p class="Btn_p"style='background: url({{CDN}}/Video_details/images/Btn_xia.png) no-repeat center;
  background-size:0.65rem 0.375rem;'></p>
    </div>
  </div>
{{!--
  <div class="list_Details1">
    <div class="list_Details1_comment">
      <div class="list_Details1_comment_h2">
        <span class="span1">热门评论</span>
        <span class="span2">（2000条）</span>
      </div>
      <div class="list_Details1_comment_body">
        {{#byMovie}}
        <dl class="comment_body_dl">
          <dd>
            <div class="comment_body_dl_dd">
              <img src="{{CDN}}/Video_details/images/ren.png"/>
            </div>
          </dd>
          <dt>
            <p class="dt_p2">
              <span class="dt_p2_span1">{{nickName}}</span>
              <span class="dt_p2_span2">2分钟前</span>
            </p>
            <p class="dt_body">{{comment}}</p>
          </dt>
        </dl>
        {{/byMovie}}
      </div>
    </div>
  </div>
</div> --}}
<div class="Details_footer">选座购票</div>
{{> foot
  nav='film_details'
  script="/Video_details/film_details.js"}}


