{{#if nav}}
{{else}}
	<ul class="footer_ul">
		<li class="footer_li footer_li_on">
			<a href="/?yc={{cinemauser}}">
				<img src="{{CDN}}/base/images/footer/img1{{foot_on_1}}.png"/>
				<p>电影</p>
			</a>
		</li>
		<li class="footer_li " >
			<a href="/indexInit/?yc={{cinemauser}}">
				<img src="{{CDN}}/base/images/footer/img2{{foot_on_2}}.png"/>
				<p>购票</p>
			</a>
		</li>
		<li class="footer_li">
			<a href="/filmnews">
				<img src="{{CDN}}/base/images/footer/img3{{foot_on_3}}.png"/>
				<p>活动</p>
			</a>
		</li>
    <li class="footer_li">
      <a href="/active">
        <img src="{{CDN}}/base/images/footer/img4{{foot_on_4}}.png"/>
        <p>发现</p>
      </a>
    </li>
		<li class="footer_li">
			<a href="/user">
				<img src="{{CDN}}/base/images/footer/img5{{foot_on_5}}.png"/>
				<p>我的</p>
			</a>
		</li>
	</ul>
{{/if}}
</body>


<script src="{{CDN}}/base/base.js"></script>
{{#script}}
<script src="{{CDN}}{{.}}"></script>
{{/script}}

</html>
