<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta content="telephone=no" name="format-detection">

  <title>{{title}}</title>
  <meta name="keywords" content="{{keywords}}">
  <meta name="description" content="{{description}}">

  <link rel="stylesheet" href="{{CDN}}/base/base.css" />
  <link rel="stylesheet" href="{{CDN}}/base/footer.css" />

  {{#style}}
  <link rel="stylesheet" href="{{CDN}}{{.}}" />
  {{/style}}
</head>
<body>
