<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">                
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Expires" CONTENT="-1">
	<meta http-equiv="Cache-Control" CONTENT="no-cache">
	<meta http-equiv="Pragma" CONTENT="no-cache">  
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="stylesheet" type="text/css" href="{{CDN}}/home/reset.css"/>
<link rel="stylesheet" type="text/css" href="{{CDN}}/home/swiper.min.css"/>
<link rel="stylesheet" type="text/css" href="{{CDN}}/home/index.css"/>
<link href="{{CDN}}/home/footer.css" rel="stylesheet" type="text/css">
</head>

<script>
var MOVIE_ID = 1;
var yc = {{cinemaid}};
var INIT_FILM_ID = 1;
var INIT_SWIPER = null;
var vals = 0;
var vald = 0;
</script>
<body>
<div class="head">
	<div class="head_body">
		<div class="head_body_left">
			<div class="head_body_left_top">满城区隆基泰和广场冠兴商厦四楼</div>
			<ul class="head_body_left_botton">
				<li class='color_red'>可停车</li>
				<li class='color_red'>儿童票</li>
				<li class='color_red'>休息区</li>
				<li class='color_red'>餐饮区</li>
				<li class='color_red'>3D眼睛</li>
			</ul>
		</div>
		<div class="head_body_right">
			<p class="head_body_right_img"><img src="{{CDN}}/home/index/right_san.png"/></p>
		</div>
	</div>
</div>
<div class="banner">

	 <div class="swiper-container swiper_body" >


        <div class="swiper-wrapper" id="ypdetail1">
       
            
        </div>  
    
    </div>

    <div class="banner_h2">
    	<div class="banner_h2_tex">
    		<span class="span1">三人行</span>
    		<span class="span2">9.8</span>
    	</div>
    </div>
</div>
<div class="flim_body">
	<div class="flim_Time">
		<ul class="flim_Time_list">
			<li class="this_on">今天6月28</li>
			<li>明天6月29</li>
			<li>后天6月30</li>
			<li>星期一7月1</li>
		</ul>
	</div>
	<div class="flim_list">
		<div class="flim_list_body">
			<ul class="flim_list_body_top">
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/ri.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/ri.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
			</ul>
			<ul class="flim_list_body_top">
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/yue.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/yue.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/yue.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/yue.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
				<li>
					<a>
						<div class="div1">
							<img src="{{CDN}}/home/index/yue.png">
						</div>
						<div class="div2">
							<p class="p1">9:20</p>
							<p class="p2">11:10散场</p>
						</div>
						<div class="div3">
							<p class="p1">国语3D</p>
							<p class="p2">3号厅</p>
						</div>
						<div class="div4">
							<p class="p3">¥60</p>
							<p class="p4">¥85</p>
						</div>
						<div class="div5">
							<div class="Btn_input">购票</div>
						</div>
					</a>

				</li>
			</ul>
		</div>
	</div>

</div>
{{> foot
  script="/home/home.js"}}




