{{> head
  title=cinemaname
  keywords=""
  description=""
  style="/home/index.css" }}
<script>
var MOVIE_ID = 1;
var yc = {{cinemaid}};
var INIT_FILM_ID = {{film_id}};
var INIT_SWIPER = null;
var vals = 0;
var vald = 0;
var CDN = '{{CDN}}'
</script>
<body>
<div class="head">
  <div class="head_body">
      {{#cinema}}
			<div class="head_body_left">

					<div class="head_body_left_top">{{cinemaaddress}}</div>
					<ul class="head_body_left_botton">
						{{#each cinemaservice}}
							{{#if this}}
								<li class='color_red'>{{this}}</li>
							{{/if}}
						{{/each}}
					</ul>

			</div>

			<div class="head_body_right">
        <a href="tel:{{cinematel}};">
				<p class="head_body_right_img"><img src="{{CDN}}/home/index/dianhua.png"/></p>
        </a>
			</div>
      {{/cinema}}

	</div>
</div>
<div class="banner">

	 <div class="swiper-container swiper_body" >


        <div class="swiper-wrapper" id="ypdetail1">


        </div>

    </div>

    <div class="banner_h2">
    	<div class="banner_h2_tex">
    		<span class="span1">三人行</span>
    		<span class="span2">9.8</span>
    	</div>
    </div>
</div>
<div class="flim_body">
	<div class="flim_Time">
		<ul class="flim_Time_list" id="dateTabs">

		</ul>
	</div>
  <ul class="flim_list_huo">
    <li>
    <a href="/active/details/1">
      <span class="hui">惠</span><span class="text">立减八元，限购两张</span>
      </a>
    </li>
    <li>
      <a href="/active/details/1">
      <span class="hui">惠</span><span class="text">立减八元，限购两张</span>
      </a>
    </li>
    <li>
      <a href="/active/details/1">
      <span class="hui">惠</span><span class="text">立减八元，限购两张</span>
      </a>
    </li>
    <li><a href="/active/details/1">
      <span class="hui">惠</span><span class="text">立减八元，限购两张</span>
      </a>
    </li>
    <div class="san_jiao">
      <img class="hidde_img img_show_hide"src="{{CDN}}/home/index/shou_sanjiao.png"/>
      <img class="show_img img_show_hide" src="{{CDN}}/home/index/fang_sanjiao.png"/>
    </div>
  </ul>
	<div class="flim_list">
		<div class="flim_list_body" id="swiper-wrapper">

		</div>
	</div>

</div>
{{> foot
  script="/home/home.js"}}




