{{> head
  title=cinemaname
  keywords=""
  description=""
  style="/home/index.css" }}
<script>
var MOVIE_ID = 1;
var yc = {{cinemaid}};
var INIT_FILM_ID = {{film_id}};
var INIT_SWIPER = null;
var vals = 0;
var vald = 0;
var CDN = '{{CDN}}'
</script>
<body>
<div class="head">
  <div class="head_body">
		<a href="/cinema">
			<div class="head_body_left">
				{{#zzz}}
					<div class="head_body_left_top">{{cinemaaddress}}</div>
					<ul class="head_body_left_botton">
						{{#each cinemaservice}}
							{{#if this}}
								<li class='color_red'>{{this}}</li>
							{{/if}}
						{{/each}}
					</ul>
				{{/zzz}}
			</div>

			<div class="head_body_right">
				<p class="head_body_right_img"><img src="{{CDN}}/home/index/right_san.png"/></p>
			</div>
		</a>
	</div>
</div>
<div class="banner">

	 <div class="swiper-container swiper_body" >


        <div class="swiper-wrapper" id="ypdetail1">


        </div>

    </div>

    <div class="banner_h2">
    	<div class="banner_h2_tex">
    		<span class="span1">三人行</span>
    		<span class="span2">9.8</span>
    	</div>
    </div>
</div>
<div class="flim_body">
	<div class="flim_Time">
		<ul class="flim_Time_list" id="dateTabs">

		</ul>
	</div>
	<div class="flim_list">
		<div class="flim_list_body" id="swiper-wrapper">

		</div>
	</div>

</div>
{{> foot
  script="/home/home.js"}}




