{{> head
  title=cinemaname
  keywords=""
  description=""
  style="/home/index_home.css" }}
<script>
var MOVIE_ID = 1;
var yc = {{cinemaid}};
var INIT_FILM_ID = 1;
var INIT_SWIPER = null;
var vals = 0;
var vald = 0;
</script>
<body style="background: url({{CDN}}/home/index_home/back.jpg) no-repeat;background-size: 100% 100%;">
	<div class="index_home">
		 <div class="swiper-container swiper_body2" >
	        <div class="swiper-wrapper" id="ypdetail2">
	           {{#zzz}}

	           		<div class="swiper-slide">
                <a href="/Video_details/movieID={{entMovieId}}">
	           			<input type="hidden" value="{{entMovieId}}">
	            		<img src="{{titleImg}}" />
                  </a>
	            	</div>

	           {{/zzz}}


	        </div>
	    </div>
	    <div class="flime_h2">

	    </div>



	</div>
{{> foot
  script="/home/home.js"}}
