{{> head
  title="选择影院"
  keywords=""
  description=""
  style="/selectCinema/selectCinema.css" }}
<script type="text/javascript">
  var bolong = 1;
</script>
	<div class="select_all">
		<div class="select_con">

			<div class="top_ipt">
				<img class="select_img" src="/assets/selectCinema/images/sel.jpg">
				<input class="select_ipt" type="text" placeholder="搜索影院名或地址"/>
				<img class="select_empty" src="/assets/selectCinema/images/empty.jpg">
			</div>

			<div class="select_list_all">
				<ul class="select_left">
          {{#myarry}}
					<li class="select_left_li" belongs="1">{{cinemaid}}</li>
          {{/myarry}}


				</ul>

				<ul class="select_right">
          {{#cinemaAll}}
					<li class="select_right_li" belongs="1">
						<a href="/?yc={{../cinemauser}}&cinemaid={{cinemaid}}">
							<p class="big_p">{{cinemaname}}</p>
							<p class="small_p">{{cinemaaddress}}</p>
						</a>
					</li>
          {{/cinemaAll}}
				</ul>

			</div>

			<div class="select_list_all2">
				<ul class="select_ul_all">
					<li class="select_li_all">
						<div class="dian_div">
							<img src="/assets/selectCinema/images/dian.jpg"/>
						</div>
						<div class="dian_right">
							<a href="">
								<p class="dian_p_lf">双城盈日国际影城</p>
								<p class="dian_p_s">双城市团结大街1双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
							</a>
						</div>
					</li>
					<li class="select_li_all">
						<div class="dian_div">
							<img src="/assets/selectCinema/images/dian.jpg"/>
						</div>
						<div class="dian_right">
							<a href="javascript:;">
								<p class="dian_p_lf">双城盈日国际影城</p>
								<p class="dian_p_s">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
							</a>
						</div>
					</li>
					<li class="select_li_all">
						<div class="dian_div">
							<img src="/assets/selectCinema/images/dian.jpg"/>
						</div>
						<div class="dian_right">
							<a href="javascript:;">
								<p class="dian_p_lf">双城盈日国际影城</p>
								<p class="dian_p_s">双城市团结大街12号曼哈顿4楼（原商业大世界）</p>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

{{> foot nav="cinema"
  script="/selectCinema/selectCinema.js"}}
