<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>影院详情</title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">                
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta name="format-detection" content="telephone=no" />
	<meta http-equiv="Expires" CONTENT="-1">
	<meta http-equiv="Cache-Control" CONTENT="no-cache">
	<meta http-equiv="Pragma" CONTENT="no-cache">  
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<link href="{{CDN}}/home/reset.css" rel="stylesheet" type="text/css">
	<link href="{{CDN}}/home/CinemaDetails.css" rel="stylesheet" type="text/css">
	
</head>
<body>
{{#zzz}}
	<div class="cinema_detail_all">
		<div class='cinema_detail'>
			<ul class="cinema_de_ul">
				<li class="cinema_de_li">
					<p class="li_tit">{{cinemaaddress}}</p>
				</li>
				<li class="cinema_de_li">
					<a href="javascript:;">
						<p class="li_tit2">{{cinemaaddress}}</p>
						<p class="li_more" ></p>
					</a>
				</li>
				<li class="cinema_de_li cinema_de_li3">
					<a href="tel:{{cinematel}}">
						<p class="li_tit3">{{cinematel}}</p>
					</a>
				</li>

			</ul>
			<ul class="feature_ul">
				<li class="feature_li">
					<p class="feature_li_p">影院服务特色</p>
				</li>
				{{#each cinemaservice}}
					<li class="feature_li">
						<p class="left_p">
							<span class="left_span">{{@key}}</span>
						</p>
						<span class="right_span">{{this}}</span>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
{{/zzz}}
	<div class="service">
		<p class="service_p">如有问题请致电客服电话</p>
		<p class="service_tel"><a href="tel:4000087099"> 400-008-7099</a></p>
	</div>
</body>
</html>