{{> head
  title="影院详情"
  keywords=""
  description=""
  style="/home/CinemaDetails.css" }}
<body>
{{#zzz}}
	<div class="cinema_detail_all">
		<div class='cinema_detail'>
			<ul class="cinema_de_ul">
				<li class="cinema_de_li">
					<p class="li_tit">{{cinemaaddress}}</p>
				</li>
				<li class="cinema_de_li">
					<a href="javascript:;">
						<p class="li_tit2">{{cinemaaddress}}</p>
						<p class="li_more" ></p>
					</a>
				</li>
				<li class="cinema_de_li cinema_de_li3">
					<a href="tel:{{cinematel}}">
						<p class="li_tit3">{{cinematel}}</p>
					</a>
				</li>

			</ul>
			<ul class="feature_ul">
				<li class="feature_li">
					<p class="feature_li_p">影院服务特色</p>
				</li>
				{{#each cinemaservice}}
					<li class="feature_li">
						<p class="left_p">
							<span class="left_span">{{@key}}</span>
						</p>
						<span class="right_span">{{this}}</span>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
{{/zzz}}
	<div class="service">
		<p class="service_p">如有问题请致电客服电话</p>
		<p class="service_tel"><a href="tel:4000087099"> 400-008-7099</a></p>
	</div>
</body>
</html>
